{% load static%}
				<!--aside open-->
				<div class="app-sidebar app-sidebar2">
					<div class="app-sidebar__logo">
						<a class="header-brand" href="{% url 'main' %}">
							<img src="{% static 'assets/images/brand/logo.png'%}" class="header-brand-img desktop-lgo" >
						</a>
					</div>
				</div>
				<aside class="app-sidebar app-sidebar3">
					<div class="app-sidebar__user">
						<div class="dropdown user-pro-body text-center">
							{% if user.is_authenticated %}
								<div class="user-pic">
									<img src="{% static 'assets/images/users/17.jpg'%}" alt="user-img" class="avatar-xl rounded-circle mb-1">
								</div>
								<div class="user-info">
									<h5 class=" mb-1 font-weight-bold">{{ user.username }}</h5>
									<span class="text-muted app-sidebar__user-name text-sm">Добро пожаловать</span>
								</div>
							{% else %}
								<div class="user-pic">
									<img src="{% static 'assets/images/users/16.jpg'%}" alt="user-img" class="avatar-xl rounded-circle mb-1">
								</div>
								<div class="user-info">
									<h5 class=" mb-1 font-weight-bold">Сотрудник</h5>
									<span class="text-muted app-sidebar__user-name text-sm">Вы не авторизованы</span>
								</div>
							{% endif %}
						</div>
					</div>
					<ul class="side-menu">
						{% for i in first_letter %}
							<li class="slide ">
								<a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0)">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="side-menu__icon"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>
                          	  <span class="side-menu__label">{{i}}</span><i class="angle fa fa-angle-right"></i></a>
								<ul class="slide-menu">
                            		<li class="side-menu-label1"><a href="javascript:void(0)"></a>Submenus</li>
									<li class="sub-slide">
										{% for u in departments %}
											{% if u.1.0 == i %}
												<a class="sub-side-menu__item" href="{% url path u.0 %}"><span class="sub-side-menu__label">{{u.1}}</span></a>
											{% endif %}
										{% endfor %}
									</li>
								</ul>
							</li>
						{% endfor %}
					</ul>
					<div class="app-sidebar-help">
						<div class="dropdown text-center">
							<div class="help d-flex">
								<a href="javascript:void(0)" class="nav-link p-0 help-dropdown" data-bs-toggle="dropdown">
									<span class="font-weight-bold">Справочная информация</span> <i class="fa fa-angle-down ms-2"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow p-4">
									<div class="border-bottom pb-3">
										<h4 class="font-weight-bold">«Горячая линия» ПАО «Россети»</h4>
										<a class="text-primary d-block">8-800-220-0-220 </a>
										<a class="text-primary d-block">(звонок бесплатный)</a>
									</div>
									{% if user.is_authenticated %}
										<form action="{% url 'logout' %}" method="post">{% csrf_token %}<button class="dropdown-item d-flex" type="submit">Выйти</button></form>
									{% else %}
										<a class="text-primary" href="{% url 'login' %}">Войти</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</aside>
				<!--aside closed-->