<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% include 'styles.html' %}
            {% block body %}
                <div class="page-header">
                    <div class="page-leftheader">
                        <h4 class="page-title">Корзина пользователя</h4>
                    </div>
                    <div class="page-rightheader ms-auto d-lg-flex d-none">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'main' %}" class="d-flex"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 3L2 12h3v8h6v-6h2v6h6v-8h3L12 3zm5 15h-2v-6H9v6H7v-7.81l5-4.5 5 4.5V18z"/><path d="M7 10.19V18h2v-6h6v6h2v-7.81l-5-4.5z" opacity=".3"/></svg><span class="breadcrumb-icon"> Главная</span></a></li>
                            <li class="breadcrumb-item"><a href="{% url 'cart' %}">Корзина</a></li>
                        </ol>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 bootstrap snippets">

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="page-title">Ваши товары:</h4>
                                </div>

                                <div class="card-body ">
                                    <div class="table-responsive ">
                                        <table class="table table-bordered text-nowrap border-top">
                                            <thead class="">
                                                <tr>
                                                    <th>Наименование продукта</th>
                                                    <th>Количество</th>
                                                    <th>Цена за единицу</th>
                                                    <th>Общая цена</th>
                                                    <th class="w-5">Действия</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in cart_items %}
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex w-1000">
                                                                {% for key, value in images.items %}
                                                                    {% if key == item.product_id %}
                                                                        <div>
                                                                            <img src="{% url 'main' %}media/{{ value.1 }}" alt="img" class="w-9 h-9">
                                                                        </div>
                                                                    {% endif %}
                                                                {% endfor %}
                                                                <h6 class="mb-0 mt-4 font-weight-bold ms-4" style="word-wrap: break-word;"><a href="{{ item.product.get_absolute_url }}">{{ item.product_name }}</a></h6>
                                                            </div>
                                                        </td>
                                                        <td class="price">
                                                            <div aria-label="Basic example" class="btn-group ms-3 mt-3" role="group">
                                                                <button hx-get="{% url 'update_cart_item' item.product_id 'decrease' %}" hx-target="#product-list" hx-swap="innerHTML" class="btn btn-indigo btn-icon active" type="button">-</button>
                                                                <button class="btn btn-primary btn-icon" type="button">{{ item.quantity }}</button>
                                                                <button hx-get="{% url 'update_cart_item' item.product_id 'increase' %}" hx-target="#product-list" hx-swap="innerHTML" class="btn btn-primary btn-icon" type="button">+</button>
                                                            </div>
                                                        </td>
                                                        <td class="price">₽ {{ item.price }}</td>
                                                        <td class="price">₽ {{ item.total_price }}</td>
                                                        <td class="text-center">
                                                            <button onclick="send_url_to_modal_cart({{ item.id }})" type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#smallmodal"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8 9h8v10H8z" opacity=".3"/><path d="M15.5 4l-1-1h-5l-1 1H5v2h14V4zM6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9z"/></svg></button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                <td class="price">Количество товаров: {{ cart_items_counts }}</td>
                                                <td class="price">Итого к оплате: {{ cart_items_total_price }}</td>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class=" float-end">
                                        <a href="{% url 'main' %}" class="btn btn-info mt-2"><i class="fe fe-arrow-left"></i> Продолжить покупки</a>
                                        <a href="{% url 'checkout' %}" class="btn btn-primary mt-2">Оформить заказ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endblock body %}

                    {% block modal %}
                        <div class="modal  fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodal" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="smallmodal1">Удаление товара</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Удалить товар из корзины?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                                            <a id="remove-link" class="btn btn-primary" href="#">Да</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    {% endblock modal %}

		{% block scripts %}
            <script src="{% static ''%}assets/js/send_url_to_modal.js"></script>
		{% endblock scripts %}
        {% include 'scripts.html' %}